BODY {
	BACKGROUND-COLOR: #FFFFFF;
	color: #000000;
	FONT-FAMILY: Arial, Helvetica, Sans Serif
}

#slideshow {
	margin:0 auto;
	width:1400px;
	height:700px;
	position:relative;
}

#slideshow #slidesContainer {
  margin:0 auto;
  width:1320px;
  height:700px;
  overflow:hidden; /* hide scrollbar */
  position:relative;
}

#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:1300px; /* reduce by 20 pixels to avoid horizontal scroll */
  height:700px;
}