body {
	BACKGROUND-COLOR: #FFFFFF;
	color: #000000;
	FONT-FAMILY: Arial, Helvetica, Sans Serif
	overflow: hidden;
}

#slideshow {
	margin:0 auto;
	width:1890px;
	height:1080px;
	position:relative;
	overflow: hidden;
}

#slideshow #slidesContainer {
  margin:0 auto;
  width:1890px;
  height:1080px;
  overflow:hidden; /* hide scrollbar */
  position:relative;
}

#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:1890px; /* reduce by 20 pixels to avoid horizontal scroll */
  height:1080px;
}